name: Docker Image CI

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: export CR_PAT=${{ secrets.PAT }}
    - run: echo $CR_PAT | docker login ghcr.io -u code-maid --password-stdin 
    - run: docker build . --file Dockerfile --tag ghcr.io/vein-lang/ubuntu18.04-with-crossroot-arm64:$(date +%s)
    - run: docker push ghcr.io/vein-lang/ubuntu18.04-with-crossroot-arm64
